<configuration>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <include resource="logback-overrides.xml" optional="true"/>

    <logger name="com.zaxxer.hikari.pool" level="WARN"/>
    <logger name="com.novamedia" level="${LOG_LEVEL:-DEBUG}"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ, CET} [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>
    <appender name="TEXT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FOLDER:-log}/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FOLDER:-log}/server.%d{yyyy-MM-ddZ, CET}.log.gz</fileNamePattern>
            <maxHistory>${LOG_RETENTION:-7}</maxHistory>
        </rollingPolicy>
        <immediateFlush>false</immediateFlush>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{yyyy-MM-dd'T'HH:mm:ss.SSSZ, CET} [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC_TEXT_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="TEXT_FILE"/>
    </appender>

    <root level="${LOG_LEVEL:-DEBUG}">
        <appender-ref ref="ASYNC_STDOUT"/>
        <appender-ref ref="ASYNC_TEXT_FILE"/>
    </root>
</configuration>
